.setPw {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
/**
 * 弹窗公用
 */
.pwbox {
  position: fixed;
  top: 160px;
  left: 50%;
  margin-left: -43%;
  z-index: 99;
  right: 0;
  width: 86%;
  background: #fff;
  border-radius: 6px;
  height: 250px;
  text-align: center;
  /**
	 * 修改密码
	 */
}
.pwbox h3 {
  font-size: 18px;
  color: #333333;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 40px;
}
.pwbox h3.updata {
  margin-bottom: 0;
}
.pwbox p {
  font-size: 15px;
  color: #545454;
  margin: 15px 0;
}
.pwbox > img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
}
.pwbox .input {
  width: 90%;
  border: 1px solid #1b82d2;
  margin: 0 auto;
}
.pwbox .input input {
  transition: all .3s;
  float: left;
  display: inline-block;
  width: calc(16.25441696%);
  height: 40px;
  outline: none;
  border: none;
  border-left: 1px solid #bababa;
  text-align: center;
  font-size: 18px;
}
.pwbox .input input:first-child {
  border: none;
}
.pwbox .updatabox {
  width: 90%;
  margin: 0 auto;
}
.pwbox .updatabox .row {
  width: 100%;
  margin-bottom: 15px;
}
.pwbox .updatabox .row .imgage {
  width: 32%;
  height: 34px;
  border: 1px solid #d6d7dc;
  border-radius: 4px;
  display: inline-block;
}
.pwbox .updatabox .row .imgage img {
  display: block;
  width: 100%;
  height: 34px;
  vertical-align: middle;
}
.pwbox .updatabox .row span {
  display: inline-block;
  line-height: 37px;
  height: 37px;float:right;
  width: 32%;
  color: #939393;
  border-radius: 4px;
  background: #d6d7dc;
}
.pwbox .updatabox .row span.clicked {
  background: #1e82d2;
  color: #fff;
}
.pwbox .updatabox .row input {
  outline: none;
  float: left;
  height: 35px;
  width: 60%;
  border-radius: 4px;
  border: 1px solid #d6d7dc;
  padding-left: 10px;
  font-size: 15px;
}
.pwbox button {
  background: #1b82d2;
  width: 90%;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  outline: none;
  border: none;
  margin-top: 70px;
  color: #fff;
  font-size: 16px;
}
.pwbox button.next {
  background: #d6d7dc;
}
.pwbox button.updata {
  margin-top: 10px;
}
