.Grade .top {
  position: relative;
}
.Grade .top img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.Grade .top .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  color: #fff;
}
.Grade .top .bottom span:not(.title-2) {
  color: #fffc00;
}
.Grade .top .bottom .title-2 {
  margin-left: 10px;
}
.Grade .top .title {
  width: 40%;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -20%;
}
.Grade .top .title img {
  width: 50%;
  margin: 0 auto;
  display: block;
}
.Grade .top .title p {
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 8px;
}
.Grade > p {
  color: #323232;
  font-size: 15px;
  margin: 10px 0 10px 10px;
}
.Grade .content ul {
  margin-top: 10px;
}
.Grade .content ul li.next-li {
  display: block;
  width: 100%;
}
.Grade .content ul li.next-li img.next {
  float: right;
  width: 5%;
  margin: 20px 15% 10px 0;
}
.Grade .content ul li.off .line {
  border-top: 1px solid #e2e2e2;
}
.Grade .content ul li.off > p {
  color: #b6b6b6;
}
.Grade .content ul li {
  width: 33%;
  float: left;
  position: relative;
}
.Grade .content ul li img {
  display: block;
  margin: 5px auto 0 auto;
  width: 14%;
}
.Grade .content ul li img:first-child {
  width: 33%;
}
.Grade .content ul li p {
  text-align: center;
  color: #323232;
  font-size: 14px;
  margin-top: 5px;
}
.Grade .content ul li .line {
  position: absolute;
  bottom: 31.5px;
  right: -43%;
  width: 87%;
  border-top: 1px solid #6fed78;
}
.Grade .shengji {
  margin: 20px 0 20px 10px;
}
.Grade .shengji span {
  display: inline-block;
  float: left;
  color: #323232;
  font-size: 12px;
}
.Grade .shengji p {
  width: 56%;
  display: inline-block;
  margin-left: 10px;
  color: #323232;
  font-size: 12px;
}
.Grade .page-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  margin-bottom: 10px;
}
.Grade .page-bottom img {
  width: 10%;
}
.Grade .page-bottom span {
  color: #939393;
  font-size: 12px;
}
